@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  text-align: center;
}

p,
label,
select {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  border-radius: 15px;
  padding: 8px;
  color: white;
  background-color: #383838;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button:hover {
  cursor: pointer;
  transition: all 150ms linear;
  opacity: .85;
}

.sala,
.quarto,
.cozinha {
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: 170px;
  border: 2px solid white;
  border-radius: 10px;
  vertical-align: top;
  max-height: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
  box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
}

.luz,
.fogao,
.ar,
.geladeira,
.tv,
.ventilador,
.cortina {
  width: 20%;
  height: 20%;
}

img {
  width: 90px;
  height: 90px;
}


.status.on {
  display: block;
}

.status.off {
  display: none;
}

/*animacao chama*/
.fogao-container {
  position: relative;
}

.fire {
  position: absolute;
  bottom: 15px;
  left: 15%;
  width: 40px; 
  height: 300px; 
  background: radial-gradient(circle, rgba(255, 165, 0, 0.9) 0%, rgba(255, 0, 0, 0) 70%);
  border-radius: 50%;
  animation: flame 0.8s infinite alternate;
  opacity: 0.8; 
  z-index: 1; /* Faz a chama ficar atrás */
}

.status {
  position: relative; 
  z-index: 2; /* Imagem do fogão deve estar acima da chama */
}

@keyframes flame {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-10px) scale(1.2);
    opacity: 1;
  }
}

.potencia-1 {
  height: 80px;
}
.potencia-2 {
  height: 80px;
}
.potencia-3 {
  height: 85px;
}
.potencia-4 {
  height: 90px;
}
.potencia-5 {
  height: 95px;
}

/*animação onda*/
.wave {
  position: absolute;
  bottom: 40px; 
  left: 50%; 
  width: 90%; 
  height: 40px; 
  background: radial-gradient(circle, rgba(212, 236, 245, 0.9) 0%, rgba(136, 143, 145, 0) 70%);
  border-radius: 50%;
  opacity: 0.8; 
  z-index: 1;
}

@keyframes wave {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.ventilador-1 {
  animation: wave 3s infinite linear;
}

.ventilador-2 {
  animation: wave 2s infinite linear;
}

.ventilador-3 {
  animation: wave 1s infinite linear;
}
