@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.casa {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
}

p,
label,
select {
  font-weight: 600;
}

button {
  border-radius: 15px;
  padding: 8px;
  color: white;
  background-color: #383838;
  margin: 5px;
  transition: background-color 150ms, opacity 150ms;
}

button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.sala,
.quarto,
.cozinha {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os itens se movam para a próxima linha */
  justify-content: space-around;
  /* Espaça os itens uniformemente */
  margin: 20px 0;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(184, 175, 184, 1);
}

.luz,
.fogao,
.ar,
.geladeira,
.tv,
.ventilador,
.cortinas {
  flex: 1 1 calc(30% - 20px);
  /* Flexível com base na largura do container */
  margin: 5px;
  /* Espaço entre os itens */
  background: #fafafa;
  border-radius: 5px;
  
  text-align: center;
  /* Centraliza o conteúdo */
}

img {
  width: 90px;
  height: 90px;
}

.status.on {
  display: block;
}

.status.off {
  display: none;
}

/* Animações e Estilos Especiais */
.fogao-container {
  position: relative;
}

.fire {
  position: absolute;
  bottom: 15px;
  left: 40%;
  width: 40px;
  height: 300px;
  background: radial-gradient(circle, rgba(255, 165, 0, 0.9) 0%, rgba(255, 0, 0, 0) 70%);
  border-radius: 50%;
  animation: flame 0.8s infinite alternate;
  opacity: 0.8;
  z-index: 1;
  /* Chama deve ficar atrás */
}

.status {
  position: relative;
  z-index: 2;
  /* Imagem deve estar acima da chama */
}

@keyframes flame {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.8;
  }

  100% {
    transform: translateY(-10px) scale(1.2);
    opacity: 1;
  }
}

/* Potência do fogão */
.potencia-1 {
  height: 80px;
}

.potencia-2 {
  height: 80px;
}

.potencia-3 {
  height: 85px;
}

.potencia-4 {
  height: 90px;
}

.potencia-5 {
  height: 95px;
}

/* Animação do Ventilador */
.velocidade {
  position: relative; 
}

.wave {
  position: absolute; 
  left: 20%;
  width: 40%; 
  height: 40px; 
  background: radial-gradient(circle, rgba(181, 234, 253, 0.9) 0%, rgba(136, 143, 145, 0) 70%);
  border-radius: 50%;
  
  z-index: 1;
}

@keyframes wave {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.velocidade-1 .wave {
  animation: wave 3s infinite linear;
}

.velocidade-2 .wave {
  animation: wave 2s infinite linear;
}

.velocidade-3 .wave {
  animation: wave 1s infinite linear;
}


/* Media Queries para Responsividade */
@media (max-width: 768px) {

  .sala,
  .cozinha,
  .quarto {
    flex-direction: column;
    /* Alinha os itens verticalmente em telas menores */
    height: auto;
    /* Permite que o container se expanda conforme necessário */
  }

  .luz,
  .fogao,
  .ar,
  .geladeira,
  .tv,
  .ventilador,
  .cortinas {
    width: 100%;
    /* Itens ocupam toda a largura do container */
  }
}